<app-card (click)="loadPreset()">
  <div>
    <i [ngClass]="'text-[3rem] p-4 fa-solid fa-play'"></i>
  </div>
  <span class="text-xl p-2 font-bold cursor-pointer">
    {{presetData.name}}
  </span>
  <div class="ml-auto">

    <button mat-icon-button [matMenuTriggerFor]="menu" click-stop-propagation>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="saveCurrentState()">
        <mat-icon>save_as</mat-icon>
        <span>Save current states</span>
      </button>
      <button mat-menu-item (click)="renamePreset()">
        <mat-icon>edit</mat-icon>
        <span>Rename</span>
      </button>
      <button mat-menu-item (click)="deletePreset()">
        <mat-icon color="warn">delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>

  </div>
</app-card>
