<div class="flex flex-row">
  <div class="w-1/4"></div>
  <div class="w-2/4">
    <h1 class="font-bold m-5 ml-0 text-2xl">About Pillow</h1>
    <p>Pillow is an application heavily inspired by
      <a href="https://github.com/rafaelmardojai/blanket" class="underline text-accent">
        Blanket
      </a>
      to listen to various ambient sounds and create presets.
    </p>
    <p>It is meant to improve the UX of Blanket while preserving its strengths.</p>
  </div>
  <div class="w-1/4"></div>
</div>
