<mat-toolbar color="primary">
  <a [routerLink]="['/']">
    <img src="../../assets/img/logo(1).svg" alt="Logo" srcset="">
  </a>
  <a [routerLink]="['/']" class="ml-3 font-bold">Pillow</a >
  <a href="https://github.com/DrunkenToast/gui-project" class="ml-3 text-lg hover:underline">Github</a>

  <span class="seperator"></span>

  <button mat-mini-fab color="accent" (click)="onPlayPauseClick()">
    <mat-icon>{{this.audioService.isPlaying() ? 'pause' : 'play_arrow'}}</mat-icon>
  </button>

</mat-toolbar>
