<button *ngIf="!isLoggedIn" mat-raised-button color="accent" [routerLink]="['/login']">
    Login
</button>

<button *ngIf="isLoggedIn" mat-mini-fab [matMenuTriggerFor]="accountMenu" color="accent">
    <mat-icon>person</mat-icon>
</button>

<mat-menu #accountMenu="matMenu">
  <button mat-menu-item *ngIf="isAdmin">
    <mat-icon>person</mat-icon>
    <span>Admin panel</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon color="warn">logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
