<div class="flex justify-center items-center flex-col">
    <h1 class="text-2xl font-bold m-5">Sign up to Pillow!</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="cool@example.com" required
                formControlName="email">
            <mat-error *ngIf="form.touched && !form.get('email')?.valid">
                {{emailErrMsg}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required
                formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required
                formControlName="confirm_password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- <mat-error> -->
            <!--     Passwords don't match -->
            <!-- </mat-error> -->
        </mat-form-field>
            <mat-error class="text-xs mb-4" *ngIf="form.hasError('nomatch') && form.get('confirm_password')?.touched">
                Passwords don't match
            </mat-error>
        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Create cool account</button>
        <button type="button" mat-stroked-button routerLink="/login">Already have a cool account? Login!</button>
    </form>
</div>
