<!-- <router-outlet></router-outlet> -->
<app-navigation></app-navigation>
<app-navbar></app-navbar>
<div class="flex flex-row bg-black">
  <div class="w-1/4 p-5 flex flex-col">
    <h1>Categories</h1>
    <button mat-raised-button color="primary">All</button>
    <button mat-raised-button color="secondary">...</button>
    <mat-checkbox>d</mat-checkbox>
  </div>
  <app-audio-grid class="w-2/4"></app-audio-grid>
  <div class="w-1/4 p-5 flex flex-col">
    <h1>Preset</h1>
    <button mat-raised-button color="primary">fsdfds</button>
    <button mat-button color="primary">fsdfds</button>
  </div>
</div>
