<div class="p-5 flex flex-col">

    <mat-form-field>
        <input type="text" matInput placeholder="Search sounds" [(ngModel)]="data.filters.soundKeyword">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="data.filters.currentlyPlaying">
        Show currently playing
    </mat-checkbox>

    <h3 class="text-xl font-bold mt-5">Categories
        <button mat-mini-fab color="secondary" *ngIf="isAdmin" routerLink="/admin/panel/edit-categories"
            matTooltip="Edit categories">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="secondary" (click)="toggleAllSelected()">
            Select {{allCategoriesSelected() ? 'none' : 'all'}}
        </button>
    </h3>

    <mat-checkbox [checked]="isChecked(category.id)" (change)="checkCategory($event)"
        *ngFor="let category of data.categories" [value]="category.id" class="p-1">
        {{category.name}}
    </mat-checkbox>

</div>
