<!-- I use CSS to make filters and presets responsive
  but currently it loads these components twice -->

<div class="flex flex-row">
  <div class="w-1/4 flex-col p-5 hidden lg:flex">
    <button mat-raised-button color="primary" *ngIf="this.isAdmin"
            [routerLink]="'/admin/panel/add-sound'">
      <mat-icon>add</mat-icon>
      Add sound
    </button>

    <app-filters></app-filters>
  </div>


  <div class="lg:w-2/4 w-full">
    <div class="lg:hidden">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>filter_list</mat-icon>
            Filters
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-filters></app-filters>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>playlist_play</mat-icon>
            Presets
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-presets></app-presets>
      </mat-expansion-panel>

      <button mat-raised-button color="primary" class="w-full" [routerLink]="'/admin/panel/add-sound'">
        <mat-icon>add</mat-icon>
        Add sound
      </button>
    </div>
    <app-sound-grid></app-sound-grid>

  </div>

  <div class="w-1/4 p-5 hidden lg:block">
    <app-presets></app-presets>
  </div>
</div>
